body {
  background-color: #e0d0d0;
}

/*h1 {
    width: 1400px;
    height: 58px;
    top: 20px;
    left: 20px;
    radius  :6px; 
    background-color: #255538;
}
*/
#grid {
  width: 100vw;
  height: 5vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-area: 1/1 1/3;
  background-color: aqua;
}

#grid ul {
  grid-area: 3/1 1/3;
}

div {
  background-color: blueviolet;
}
/*#pref {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 1fr 20% ;
    grid-template-columns: 100px 100px 100px;
}*/
